@using ModelsApi
@using MyCar.Web.Core
@using System.Globalization
@model ModelsApi.UserApi
@{
    ViewBag.Title = "О пользователе";
}
@{
    var orders = await Api.GetListAsync<List<OrderApi>>("Order");
}

<div class="container">
    <div class="main-body">

        <div class="row w-100 gutters-sm mt-3">
            <div class="tabs" style="min-height: 588.594px;">
                <div class="tab">
                    <div class="tab-toggle active">
                        <span class="tab-name" style="margin-left: 10%;">Данные пользователя @Model.UserName</span>
                    </div>
                </div>
                <div class="Tabscontent active">
                    <div class="card mb-3">
                    <form asp-action="EditUserView" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Никнейм</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.UserName
                                </div>
                            </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Имя</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.FirstName
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Фамилия</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.LastName
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Отчество</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.Patronimyc
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Электронный адрес</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Email
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Номер</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.Number
                                    </div>
                                </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<a class="btn btn-info" asp-action="EditUserView" asp-controller="Account" asp-route-id="@Model.ID" target="__blank">Редактировать</a>*@
                                    <input type="submit" class="btn btn-info" value="Редактировать данные" asp-controller="Account" asp-route-id="@Model.ID" asp-action="EditUserView" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="tab">
                    <div class="tab-toggle">
                        <span class="tab-name" style="margin-left: 10%;">История покупок @Model.UserName</span>
                    </div>
                </div>
                <div class="Tabscontent">
                    <div class="card mb-3">
                        <form method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Активные заказы сейчас:</h6>
                                    </div>
                                    @{
                                        var order = orders.LastOrDefault(s => s.UserId == @Model.ID && s.Status.StatusName == "Новый" && s.ActionType.ActionTypeName == "Продажа");
                                        if(order != null)
                                        {
                                            <div class="col-sm-9 text-secondary">
                                                @order.ID
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-9 text-danger">
                                                Отсутствуют
                                            </div>
                                        }
                                    }
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Общее кол-во покупок на сайте</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @orders.Where(s=> s.UserId == @Model.ID && s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName == "Завершен").Count()
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Сумма ваших заказов</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @{
                                            decimal? mySum = new();
                                            var ordersUser = await Api.GetListAsync<List<OrderApi>>("Order");
                                            var filterOrders = ordersUser.Where(s => s.UserId == @Model.ID && s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName == "Завершен");
                                            decimal? sum = 0;
                                        }
                                        @foreach(var ord in filterOrders)
                                        { 
                                            @foreach (var price in @ord.WareHouses)
                                            {
                                                
                                                var discountPrice = DiscountCounter.GetDiscountByOrder(@ord, @price.SaleCar);
                                                if (discountPrice == 0)
                                                {
                                                    discountPrice = null;
                                                    sum += price.Price * price.CountChange * -1;
                                                    @*<div class="col-sm-9 text-secondary">
                                                        @mySum.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                    </div>*@
                                                }
                                                @if (discountPrice != null)
                                                {
                                                    sum += discountPrice * price.CountChange * -1;
                                                }
                                            }
                                        
                                        }
                                        @{
                                            mySum += sum;
                                        }
                                        @if(mySum != 0 || mySum != null)
                                        {
                                            <div class="col-sm-9 text-secondary">
                                                @mySum.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                            </div>
                                        }
                                        @if(mySum == 0 || mySum == null)
                                        {
                                            <div class="col-sm-9 text-danger">
                                                Отсутствует
                                            </div>
                                        }
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ваш средний чек:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                       @{
                                            decimal? check = 0;
                                            if(filterOrders.Count() == 0)
                                            {
                                                check = 0;
                                            }
                                            if(filterOrders.Count() != 0)
                                            {
                                                decimal? suma = mySum;
                                                check = suma / filterOrders.Count();
                                            }
                                            
                                            if(check != 0 || check != null)
                                            {
                                                <div class="col-sm-9 text-secondary">
                                                    @check.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-9 text-danger">
                                                    Средний чек отсутсвует
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        </div>

    </div>
</div>