@model ModelsApi.UserApi
@{
    ViewBag.Title = "О пользователе";
}

<div class="container">
    <div class="main-body">

        <div class="row gutters-sm mt-3">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle rounded-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <div class="mt-3">
                                <h4>@Model.UserName</h4>
                                <p class="text-secondary mb-1">@Model.UserType.TypeName</p>
                                @*<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>*@
                                @*<button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <form asp-action="EditUserView" method="post">
                        <div class="card-body">
                            <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Никнейм</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.UserName
                                    </div>
                            </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Имя</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.FirstName
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Фамилия</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.LastName
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Отчество</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.Patronimyc
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Электронный адрес</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Email
                                    </div>
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Номер</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.Passport.Number
                                    </div>
                                </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<a class="btn btn-info" asp-action="EditUserView" asp-controller="Account" asp-route-id="@Model.ID" target="__blank">Редактировать</a>*@
                                    <input type="submit" class="btn btn-info" value="Редактировать данные" asp-controller="Account" asp-route-id="@Model.ID" asp-action="EditUserView" />
                                </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>