@using ModelsApi
@using MyCar.Web.Core
@using System.Text.Json
@using System.Globalization
@model ModelsApi.SaleCarApi
@{
    ViewData["Title"] = $"Выбранное авто {Model.FullName}";
    var carsStyles = await Api.GetListAsync<List<SaleCarApi>>("CarSales");

    //другие комплектации авто
    var styles = carsStyles.Where(s => s.CarId == @Model.CarId).ToList();
    //другие цвета авто
    var carColors = carsStyles.Where(s=> s.EquipmentId == @Model.EquipmentId && s.FullName == @Model.FullName);
    var colors = await Api.GetListAsync<List<Color>>("Color");
    var photos = await Api.GetListAsync<List<CarPhotoApi>>("CarPhoto");
    var recommendCars = await Api.GetListAsync<List<CarApi>>("Car");
    var filterRecommend = recommendCars.Where(s => s.Model.MarkId == @Model.Car.Model.MarkId);
}
    <div class="container-fluid mt-5"> 
        <div class="row w-100">
            <div class="col-9">
                <h2 style="color: white;">
                    @Model.FullName
                </h2>
            </div>
            <div class="col-3">
                @{
                    var warehouses = await Api.GetListAsync<List<WareHouseApi>>("Warehouse");
                    var ware = warehouses.Where(s => s.SaleCarId == @Model.ID).ToList().Sum(s=> s.CountChange);
                    decimal? discounts = DiscountCounter.GetDiscount(@Model);
                    ViewBag.DiscountPrice = DiscountCounter.GetDiscount(@Model);
                    if(ware.Value <= 0)
                    {
                                <h3 class="text-white text-center" style="text-align: center;">
                                    Отсутствует в продаже
                                </h3>
                    }
                    else
                    {
                        if(discounts == 0)
                        {
                            discounts = null;
                        }
                                <div class="product-price">
                                    @if(discounts != null)
                            {
                                        <h2 class="text-white" style="text-align: center;">
                                            <s class="text-white">
                                                @Model.FullPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                            </s>
                                        </h2>
                            }
                            else
                            {
                                        <h2 class="text-white" style="text-align: center;">
                                            @Model.FullPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                        </h2>
                            }
                                    @if(discounts != null)
                            {
                                        <h4 class="text-white" style="text-align: center;">
                                            @discounts.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                        </h4>
                            }
                                </div>
                    }
                    
                }
            </div>
        </div>
        <div class="row w-100">
            <div class="col-9"></div>
            <div class="col-3 text-center justify-content-center align-content-center">
            @if(ware.Value <= 0)
            {
                <div class="glass-btn glass-btn-gray">
                    <a href="#url">Отсутсвует</a>
                </div>
            }
            else
            {
                <div class="glass-btn glass-btn-red">
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="stretched-link" style="color: black;">Приобрести</a>
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" style="min-width: 700px; width: 1000px; background-color: #171717;">
                        <div class="modal-content" style="background-color: #171717;">
                            <div class="modal-header">
                                <h5 class="modal-title text-white text-center" id="staticBackdropLabel">Введите нужное вам количество авто</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row row-cols-1 w-100">
                                    <div class="col text-white" style="text-align: center;">
                                        Кол-во:
                                    </div>
                                </div>
                                <div class="row row-cols-1 w-100">
                                    <div class="col">
                                        <form asp-action="UpdateCountCar" asp-route-id="@Model.ID" asp-controller="Cart" method="post">
                                            <p class="text-danger">@ViewBag.ErrorMes</p>
                                            <input type="number" min="1" step="1" onkeydown="return false" max="@Model.Count" name="CountChange" style="width: 200px; text-align: center;" width="200"/>
                                            <div class="row-cols-2 w-100" style="display: flex;">
                                                <div class="col-6">
                                                    <div class="glass-btn glass-btn-red">
                                                        <a class="stretched-link">
                                                            <input readonly data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-dismiss="modal" class="stretched-link" value="Отмена" style="color: black; text-align:center;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="glass-btn glass-btn-red">
                                                        <a class="stretched-link">
                                                            <input readonly type="submit" class="stretched-link" value="Приобрести" style="color: black; text-align:center;">
                                                        </a>   
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                @*<div class="modal-footer">
                                    <div class="glass-btn glass-btn-red">
                                        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-dismiss="modal" class="stretched-link" style="color: black;">Отмена</a>
                                    </div>
                                    <div class="glass-btn glass-btn-green">
                                        <a asp-action="UpdateCountCar" asp-controller="Cart" asp-route-id="@Model.ID" class="stretched-link" style="color: black;">Приобрести</a>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-8 align-items-center justify-content-center">
                <div class="container align-items-center justify-content-center w-100 text-center">
                    <div class="row w-100">
                        <div class="carousel-3d">
                            <figure>
                                @foreach(var img in @Model.CarPhotos)
                                {
                                    <div><a href="#any"><img src="@Url.Action("DisplayImage", "Home", new { photoName = @img.PhotoName })" alt="" style="width: 600px; height: 420px;"/></a></div>
                                }
                            </figure>
                            <nav>
                                <button class="nav prev"> < </button>
                                <button class="nav next"> > </button>
                            </nav>
                        </div>
                    </div>
                    @*<img src="~/CarImages/@Model.Car.PhotoCar" width="755" height="450" class="w-50 justify-content-center"/>*@
                </div>
                <br/>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Описание авто</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Технические характеристики</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Место положение авто</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="color: white;">@Model.Description</div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Характеристики двигателя
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Мощность") ||
                                s.Characteristic.CharacteristicName.Contains("Объем") || 
                                s.Characteristic.CharacteristicName.Contains("Вместительность топливного бака") || 
                                s.Characteristic.CharacteristicName.Contains("Кол-во цилиндров") ))
                                {
                                    <tr>
                                        <td style="color: white; width: 60%">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white; width: 40%">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Скоростные характеристики
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Макс. Скорость") ||
                                s.Characteristic.CharacteristicName.Contains("0-100")))
                                {
                                    <tr>
                                        <td style="color: white;">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white;">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Кузовные характеристики
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Высота 2") ||
                                s.Characteristic.CharacteristicName.Contains("Длина") || s.Characteristic.CharacteristicName.Contains("Колесная база")))
                                {
                                    <tr>
                                        <td style="color: white;">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white;">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
            </div>
            <div class="col-4 align-items-center justify-content-center text-center" style="height: 100%;">
                <div class="table-responsive align-items-center justify-content-center">
                    <table class="table">
                        <tbody>
                                <tr>
                                    <td class="m-lg-5" style="color: white;">
                                        <b>
                                            Цвет авто:
                                        </b>
                                    </td>
                                    <td class="m-lg-5">
                                        @{
                                            var col = colors?.FirstOrDefault(s=> s.Name == @Model.ColorCar).HexCode;
                                        }
                                        <div class="square m-2" style="background-color: @col">

                                        </div>
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @Model.ColorCar
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            @foreach(var characteristic in @Model.Car.CharacteristicCars)
                            {
                                <tr>
                                    <td class="m-lg-5" style="color: white;">
                                        <b>
                                            @characteristic.Characteristic.CharacteristicName:
                                        </b>
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.CharacteristicValue
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.Characteristic.Unit.UnitName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="row w-100 text-white text-center justify-content-center align-items-center mt-5">
        <h3 class="text-white text-center">
            Доступные цвета для @Model.FullName
        </h3>
    </div>
    <div class="row w-100 text-white text-center justify-content-center align-items-center mt-2">

        <ul class="slides">
            @foreach(var colorCar in carColors)
            {
                <input type="radio" name="radio-btn" id="img-@colorCar.ID" checked />
                <li class="slide-container">
		            <div class="slide">
                        <a asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@colorCar.ID">
                            <img src="@Url.Action("DisplayImage", "Home", new { photoName = @colorCar.MainPhotoCar })"/>
                        </a>
                    </div>
                </li>
            }
            <li class="nav-dots mt-3" style="margin-top: 40px;">
                @foreach(var colorCar in carColors)
                {
                    colorCar.HexColor = colors.FirstOrDefault(s=> s.Name == colorCar.ColorCar).HexCode;
                    <label for="img-@colorCar.ID" style="background-color: @colorCar.HexColor" class="nav-dot" id="img-dot-1"></label>
                }
            </li>
        </ul>
    </div>
    <div class="row w-100 text-white text-center justify-content-center align-items-center mt-5" style="font-size: 24px;">
        <h2>Комплектации @Model.Car.CarName</h2>
    </div>
    <div class="row w-100">
        <div class="tabs">
            @foreach(var cars in styles.Where(s=> s.EquipmentId != @Model.EquipmentId))
            {
                <div class="tab">
                    <div class="tab-toggle">
                        <span class="tab-name" style="margin-left: 10%; color: white;">@cars.FullName</span>
                    </div>
                </div>
                <div class="Tabscontent">
                    <div class="row w-100" style="background-image: url('/image/DesertViewBacground.jpg'); height: 320px; background-repeat: no-repeat;">
                        <div class="col-3 justify-content-center align-items-center mt-5">
                            <h3 class="text-white text-decoration-underline" style="font-size: 40px;">
                                @cars.FullName
                            </h3>
                            <p class="text-white">
                                <small>
                                    Начальная цена от
                                </small>
                            </p>
                            @{
                                var discountCarStylePrice = DiscountCounter.GetDiscount(@cars);
                                ViewBag.DiscountCarStylePrice = DiscountCounter.GetDiscount(@cars);
                                if(discountCarStylePrice == 0)
                                {
                                    discountCarStylePrice = null;
                                }
                                        <div class="product-price">
                                            @if(discountCarStylePrice != null)
                                    {
                                                <h3 class="text-white">
                                                    <s class="text-white">
                                                        @cars.FullPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                    </s>
                                                </h3>
                                    }
                                    else
                                    {
                                                <h2 class="text-white">
                                                    @cars.FullPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                </h2>
                                    }
                                            @if(discountCarStylePrice != null)
                                    {
                                                <h4 class="text-white">
                                                    @discountCarStylePrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                </h4>
                                    }
                                        </div>
                            }
                        </div>
                        <div class="col-9 justify-content-center">
                            <img src="@Url.Action("DisplayImage", "Home", new { photoName = @cars.MainPhotoCar })" style="position: relative; width: 60%; height: 100%; background-position: center; margin-left:30%; "/>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-6">
                            <h4 class="text-white" style="font-size: 16px;">Ключевые характеристики</h4>
                            @{
                                var count = cars.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Кол-во цилиндров"));
                                var racing = cars.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("0-100"));
                                var power = cars?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Мощность"));
                                var v3 = cars?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Объем"));
                            }
                            <p class="text-white" style="font-size: 11px;">@v3?.CharacteristicValue-ЛИТРОВЫЙ ДВИГАТЕЛЬ V-@count?.CharacteristicValue МОЩНОСТЬЮ @power?.CharacteristicValue Л.С.</p>
                            <p class="text-white" style="font-size: 11px;">РАЗГОН ДО 100 км/ч ЗА @racing?.CharacteristicValue СЕКУНДЫ</p>
                        </div>
                        <div class="col-6 text-white">
                            <h3>ЛУЧШИЙ В КЛАССЕ V8</h3>
                            <p style="font-size: 14px;">@cars.Description</p>
                        </div>
                    </div>
                    <div class="row w-50">
                        <div class="col-5">
                            <div class="glass-btn glass-btn-red" style="align-items:center; justify-content:center;">
                                <a asp-action="DetailsCarView" asp-controller="Car" asp-route-ID="@cars.ID" class="stretched-link" style="color: black;">Искать в каталоге</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
        <div class="row w-100 text-center justify-content-center align-items-center">
            <h2 style="color: white;">
                Рекомендованное авто
            </h2>
        </div>
        <div class="row w-100">
            @foreach(var cars in filterRecommend)
            {
                <div style=" width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
                    <div class="corner-box-1-content" style="background-color:#171717">
                        <div class="card-body img-responsive">
                            <img src="@Url.Action("DisplayImage", "Home", new { photoName = @cars.PhotoCar })" style="width:200px; height:150px; position:relative;"/>
                            <br />
                            <h5 style="color:white;">@cars.CarName</h5>
                            <button class="imageButton">
                                <h1>
                                    <a class="imageLink" asp-action="ShowPartialView" asp-route-id="@cars.ID" asp-controller="Home">+</a>
                                </h1>
                            </button>
                            @{
                                <div class="product-price">
                                    <h2 class="text-white">
                                        @cars.CarPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                    </h2>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
@if (TempData["OrderCountErrorMessage"] != null)
{
    <div class="callout bg-gradient" style="background-color: #171717; border: 5px solid; border-radius:10px; border-image: linear-gradient(45deg, purple, orange) 1;" data-bs-dismiss="alert" role="alert">
        <div class="callout-header">Ошибка!!!</div>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="callout-container">
            <p class="text-white">@TempData["OrderCountErrorMessage"]</p>
        </div>
    </div>
}