@using ModelsApi
@using MyCar.Web.Core

@model ModelsApi.SaleCarApi
@{
    ViewData["Title"] = "DetailsCarView";
}
    <div class="container-fluid mt-5"> 
        <div class="row w-100">
            <div class="col-10">
                <h2 style="color: white;">
                    @Model.Car.CarName
                </h2>
                <h4 style="color: white;">Наша платформа шаблонов позволит максимально увеличить доступность вашего инвентаря в Интернете.</h4>
            </div>
            <div class="col-2">
                @{
                    ViewBag.DiscountPrice = DiscountCounter.GetDiscount(@Model);
                    if(ViewBag.DiscountPrice == 0)
                    {
                        ViewBag.DiscountPrice = null;
                    }
                    <div class="product-price">
                        @if(ViewBag.DiscountPrice != null)
                        {
                            <h2 class="text-white">
                                <s class="text-white">
                                    @Model.FullPrice
                                </s>
                            </h2>
                        }
                        else
                        {
                            <h2 class="text-white">
                                @Model.FullPrice
                            </h2>
                        }
                        <h4 class="text-white">
                            @ViewBag.DiscountPrice
                        </h4>
                    </div>
                }
            </div>
        </div>
        <div class="row w-100">
            <div class="col-9"></div>
            <div class="col-3 text-center justify-content-center align-content-center">
                <div class="glass-btn glass-btn-red w-100">
                    <a asp-action="AddOrder" asp-controller="Cart" asp-route-id="@Model.ID" class="stretched-link" style="color: black;">Приобрести</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-8 align-items-center justify-content-center">
                <div class="container align-items-center justify-content-center w-100 text-center">
                    @*<img src="~/CarImages/@Model.Car.PhotoCar" width="755" height="450" class="w-50 justify-content-center"/>*@
                
                    <div class="carousel-3d">
                        <figure>
                            <div><a href="#any"><img src="~/CarImages/@Model.Car.PhotoCar" alt="" /></a></div>
                        @foreach(var img in @Model.CarPhotos)
                        {
                                <div><a href="#any"><img src="~/CarImages/@img.PhotoName" alt="" /></a></div>
                        }
                        </figure>
                        <nav>
                            <button class="nav prev"> > </button>
                            <button class="nav next"> < </button>
                        </nav>
                    </div>
                
            </div>
                <br/>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Описание авто</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Технические характеристики</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Место положение авто</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum quis porta. Morbi tincidunt viverra pharetra.
Vestibulum vel mauris et odio lobortis laoreet eget eu magna. Proin mauris erat, luctus at nulla ut, lobortis mattis magna. Morbi a arcu lacus. Maecenas tristique velit vitae nisi consectetur, in mattis diam sodales. Mauris sagittis sem mattis justo bibendum, a eleifend dolor facilisis. Mauris nec pharetra tortor, ac aliquam felis. Nunc pretium erat sed quam consectetur fringilla.
Aliquam ultricies nunc porta metus interdum mollis. Donec porttitor libero augue, vehicula tincidunt lectus placerat a. Sed tincidunt dolor non sem dictum dignissim. Nulla vulputate orci felis, ac ornare purus ultricies a. Fusce euismod magna orci, sit amet aliquam turpis dignissim ac. In at tortor at ligula pharetra sollicitudin. Sed tincidunt, purus eget laoreet elementum, felis est pharetra ante, tincidunt feugiat libero enim sed risus.
Sed at leo sit amet mi bibendum aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent cursus varius odio, non faucibus dui. Nunc vehicula lectus sed velit suscipit aliquam vitae eu ipsum. Curabitur hendrerit magna a quam semper, at tristique mauris gravida. Donec consequat elementum lorem, ac luctus ligula. Quisque viverra fringilla mi vel aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Характеристики двигателя
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Мощность") ||
                                s.Characteristic.CharacteristicName.Contains("Объем") || 
                                s.Characteristic.CharacteristicName.Contains("Вместительность топливного бака") || 
                                s.Characteristic.CharacteristicName.Contains("Кол-во цилиндров") ))
                                {
                                    <tr>
                                        <td style="color: white; width: 60%">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white; width: 40%">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Скоростные характеристики
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Макс. Скорость") ||
                                s.Characteristic.CharacteristicName.Contains("0-100")))
                                {
                                    <tr>
                                        <td style="color: white;">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white;">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: white; width: 60%">
                                        Кузовные характеристики
                                    </th>
                                    <th style="color: white; width: 40%">
                                        Ед. измерения
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach(var characteristic in @Model.Car.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Высота 2") ||
                                s.Characteristic.CharacteristicName.Contains("Длина") || s.Characteristic.CharacteristicName.Contains("Колесная база")))
                                {
                                    <tr>
                                        <td style="color: white;">
                                            @characteristic.Characteristic.CharacteristicName:
                                        </td>
                                        <td style="color: white;">
                                            @characteristic.CharacteristicValue
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
            </div>
            <div class="col-4 align-items-center justify-content-center text-center" style="height: 100%;">
                <div class="table-responsive align-items-center justify-content-center">
                    <table class="table">
                        <tbody>
                        @foreach(var characteristic in @Model.Car.CharacteristicCars)
                        {
                            <tr>
                                    <td class="m-lg-5" style="color: white;">
                                        <b>
                                            @characteristic.Characteristic.CharacteristicName:
                                        </b>
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.CharacteristicValue
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.Characteristic.Unit.UnitName
                                    </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="row w-100 text-white text-center justify-content-center align-items-center mt-5" style="font-size: 24px;">
        <h1>Комплектации @Model.Car.CarName</h1>
    </div>
    <div class="row w-100">
        <div class="tabs">
            @foreach(var cars in ViewBag.Cars)
            {
                <div class="tab">
                    <div class="tab-toggle">
                        <span class="tab-name" style="margin-left: 10%;">@cars.Car.CarName</span>
                    </div>
                </div>
                <div class="Tabscontent">
                    <div class="row w-100" style="background-image: url('/image/DesertViewBacground.jpg'); height: 320px; background-repeat: no-repeat;">
                        <div class="col-3 justify-content-center align-items-center mt-5">
                            <h3 class="text-white text-decoration-underline" style="font-size: 40px;">
                                @cars.Car.CarName
                            </h3>
                            <p class="text-white">
                                <small>
                                    Начальная цена от
                                </small></p>
                            @{
                                ViewBag.DiscountPrice = DiscountCounter.GetDiscount(@Model);
                                if(ViewBag.DiscountPrice == 0)
                                {
                                    ViewBag.DiscountPrice = null;
                                }
                                <div class="product-price">
                                    @if(ViewBag.DiscountPrice != null)
                                    {
                                        <h3 class="text-white">
                                            <s class="text-white">
                                                @Model.FullPrice
                                            </s>
                                        </h3>
                                    }
                                    else
                                    {
                                        <h2 class="text-white">
                                            @Model.FullPrice
                                        </h2>
                                    }
                                    <h4 class="text-white">
                                        @ViewBag.DiscountPrice
                                    </h4>
                                </div>
                        }
                        </div>
                        <div class="col-9 justify-content-center">
                            <img src="~/CarImages/@cars.Car.PhotoCar" style="position: relative; width: 60%; height: 100%; background-position: center; margin-left:30%; "/>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-6">
                            <h4 class="text-white" style="font-size: 16px;">Ключевые характеристики</h4>
                            @{
                                var count = @Model?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Кол-во цилиндров"));
                                var racing = @Model?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("0-100"));
                                var power = @Model?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Мощность"));
                                var v3 = @Model?.Car.CharacteristicCars.FirstOrDefault(s => s.Characteristic.CharacteristicName.Contains("Объем"));
                            }
                            <p class="text-white" style="font-size: 11px;">@v3?.CharacteristicValue-ЛИТРОВЫЙ ДВИГАТЕЛЬ V-@count?.CharacteristicValue МОЩНОСТЬЮ @power?.CharacteristicValue Л.С.</p>
                            <p class="text-white" style="font-size: 11px;">РАЗГОН ДО 100 км/ч ЗА @racing?.CharacteristicValue СЕКУНДЫ</p>
                        </div>
                        <div class="col-6 text-white">
                            <h3>ЛУЧШИЙ В КЛАССЕ V8</h3>
                            <p style="font-size: 14px;">Мощный 472-сильный* 5,0-литровый двигатель — это не только единственный безнаддувный двигатель V8 в своем классе*, но и самый мощный двигатель Lexus V8 за всю историю. RC F издает хриплый, специально настроенный звук впуска и выхлопа, когда он кричит до впечатляющей красной черты в 7300 об/мин.</p>
                        </div>
                    </div>
                    <div class="row w-50">
                        <div class="col-5">
                            <div class="glass-btn glass-btn-red" style="align-items:center; justify-content:center;">
                                <a asp-action="SearchLexus" asp-controller="Home" class="stretched-link" style="color: black;">Искать в каталоге</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
        <div class="row w-100">
            <h4 style="color: white;">
                Рекомендованное авто
            </h4>
        </div>
        <div class="row w-100">
                @foreach(var cars in ViewBag.SaleCars)
                {
                    <div style=" width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
                        <div class="corner-box-1-content" style="background-color:#171717">
                            <div class="card-body img-responsive">
                                    <img src="~/CarImages/@cars.Car.PhotoCar" style="width:200px; height:150px; position:relative;"/>
                                    <br />
                                    <h5 style="color:white;">@cars.Car.CarName</h5>
                                    <button class="imageButton">
                                        <h1>
                                            <a class="imageLink" asp-action="DetailsCarView" asp-route-id="@cars.ID" asp-controller="Car">+</a>
                                        </h1>
                                    </button>
                                    @{
                                            ViewBag.DiscountPrice = DiscountCounter.GetDiscount(@Model);
                                            if(ViewBag.DiscountPrice == 0)
                                            {
                                                ViewBag.DiscountPrice = null;
                                            }
                                            <div class="product-price">
                                                @if(ViewBag.DiscountPrice != null)
                                                {
                                                    <h5 class="text-white">
                                                        <s class="text-white">
                                                            @Model.FullPrice
                                                        </s>
                                                    </h5>
                                                }
                                                else
                                                {
                                                    <h2 class="text-white">
                                                        @Model.FullPrice
                                                    </h2>
                                                }
                                                <h5 class="text-white">
                                                    @ViewBag.DiscountPrice
                                                </h5>
                                            </div>
                                     }
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>