@model ModelsApi.CarApi

@{
    ViewData["Title"] = "DetailsCarView";
}

    <div class="container w-100">
        <div class="inner-page inventory-listing">
            <div class="inventory-heading margin-bottom-10 clearfix">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <h2>@Model.CarName</h2>
                        <span class="margin-top-10">Our template platform will maximize the exposure of your inventory online</span> </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 text-right">
                        <h2>@Model.CarPrice</h2>
                        <em>Plus Taxes &amp; Licensing</em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left-content">
                    <!--OPEN OF SLIDER-->
                    <div class="listing-slider">
                        <section class="slider home-banner">
                            <div class="flexslider" id="home-slider-canvas">
                                
                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                    <li class="flex-active-slide" style="float: left; display: block;"> <a rel="gallery1" class="fancybox fancybox_listing_link" href="images/boxster1.jpg"><img src="~/CarImages/@Model.PhotoCar" alt="" draggable="false"></a> </li>       
                                </ul></div></div>
                        </section>
                    </div>
                    <!--CLOSE OF SLIDER-->
                    <!--Slider End-->
                    <div class="clearfix"></div>
                    <div class="bs-example bs-example-tabs example-tabs margin-top-50">
                        <h3>Описание:</h3>
                        <div id="myTabContent" class="tab-content margin-top-15 margin-bottom-20">
                            <div class="tab-pane in active" id="vehicle">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate
                                    interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante
                                    sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum quis porta. Morbi tincidunt viverra pharetra.</p>
                                <p>Vestibulum vel mauris et odio lobortis laoreet eget eu magna. Proin mauris erat, luctus at nulla ut, lobortis mattis magna. Morbi
                                    a arcu lacus. Maecenas tristique velit vitae nisi consectetur, in mattis diam sodales. Mauris sagittis sem mattis justo bibendum, a
                                    eleifend dolor facilisis. Mauris nec pharetra tortor, ac aliquam felis. Nunc pretium erat sed quam consectetur fringilla.</p>
                                <p>Aliquam ultricies nunc porta metus interdum mollis. Donec porttitor libero augue, vehicula tincidunt lectus placerat a. Sed
                                    tincidunt dolor non sem dictum dignissim. Nulla vulputate orci felis, ac ornare purus ultricies a. Fusce euismod magna orci,
                                    sit amet aliquam turpis dignissim ac. In at tortor at ligula pharetra sollicitudin. Sed tincidunt, purus eget laoreet elementum,
                                    felis est pharetra ante, tincidunt feugiat libero enim sed risus.</p>
                                <p>Sed at leo sit amet mi bibendum aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent cursus varius odio,
                                    non faucibus dui. Nunc vehicula lectus sed velit suscipit aliquam vitae eu ipsum. Curabitur hendrerit magna a quam semper, at tristique
                                    mauris gravida. Donec consequat elementum lorem, ac luctus ligula. Quisque viverra fringilla mi vel aliquam. Class aptent taciti sociosqu
                                    ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 right-content">
                    <div class="side-content">
                        <div class="car-info margin-bottom-50">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    @foreach(var setting in Model.CharacteristicCars)
                                    {
                                        <tr>
                                            <td>@setting.Characteristic.CharacteristicName:</td>
                                            <td>@setting.CharacteristicValue</td>
                                            <td>@setting.Characteristic.Unit.UnitName</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <div class="container flex-column align-items-center justify-content-center" style="margin-top: 200px;">                             
                                <a class="alert alert-warning" style="width:250px;" asp-action="Index" asp-controller="Home">Назад</a>|
                                <a class="alert alert-success" style="width:250px;">Купить</a>|
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--container ends-->
