@model IEnumerable<ModelsApi.OrderApi>
@{
    ViewData["Title"] = "Корзина";
}

@{
    var validateWarehouse = @Model.Where(s=> s.Status.StatusName != "Отменен"
            && s.ActionType.ActionTypeName == "Продажа").SelectMany(e=> e.WareHouses).ToList();
            var saleCount = validateWarehouse.GroupBy(car => car.SaleCarId)
            .Select(gr => new
            {
                CarId = gr.Key,
                TotalQuantity = gr.Sum(s => s.CountChange * -1),
                FullPrice = gr.Sum(s=> s.SaleCar.FullPrice)
            }).
            OrderByDescending(gr => gr.TotalQuantity);

}

<div class="row w-100 wow bounceInUp align-items-center justify-content-center">

    <section class="main-content w-100">
      <div class="container-fluid">

            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        @if (User.IsInRole("Администратор"))
                        {
                            <h1 class="text-white">Список всех заказов пользователей на сайте</h1>
                        }
                        else if (User.IsInRole("Клиент"))
                        {
                            <h1 class="text-white">Список всех заказов @User.Identity.Name</h1>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="header mb-5 mt-5">
                        <a asp-action="Report" class="atuin-btn" asp-route-name="@User.Identity.Name" style="align-content:center; text-align:center;" aria-pressed="true" asp-controller="Cart">
                            Перевести данные в Excel
                        </a>
                    </div>
                        @*<a asp-action="Report" class="btn" asp-controller="Cart" asp-route-name="@User.Identity.Name"></a>*@
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        @{
                            var sumOrd = @Model.Where(s=> s.ActionType.ActionTypeName == "Продажа").Sum(s => s.SumOrder);
                            var countOrd = @Model.Where(s => s.ActionType.ActionTypeName == "Продажа").Count();
                        }
                        <h1 class="text-white text-center">Общая сумма всех заказов: @sumOrd Руб.</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="header mb-5 mt-5">
                        <h1 class="text-white text-center">Количество продаж: @validateWarehouse.Count()</h1>
                    </div>
                        @*<a asp-action="Report" class="btn" asp-controller="Cart" asp-route-name="@User.Identity.Name"></a>*@
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample" style="background-color: #171717;">
                @foreach(var ord in @Model)
                {
                    <div class="accordion-item" style="background-color: #171717; border: 1px solid #ffffff;">
                        <h2 class="accordion-header align-items-center justify-content-center text-center" id="panelsStayOpen-headingTwo" style="background-color: #171717;">
                            <button style="background-color: #171717" class="accordion-button collapsed text-white text-center" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <h4 class="text-white text-center">
                                    Заказ №@ord.ID
                                </h4>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" style="background-color: #171717" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body" style="background-color: #171717">
                                <div class="row w-100" style="background-color: #171717">
                                    <div class="px-4 my-5 text-center" style="background-color: #171717">      
                                        <div class="row p-3 border-bottom" style="background-color: #171717">
                                            <div class="col-4">
                                                <h2 class="fw-bold" style="color: white;">Заказ номер №@ord.ID</h2>
                                            </div>
                                            <div class="col-4">
                                                <h3 class="fw-bold" style="color: white;">Статус оплаты:</h3>
                                                @if (@ord.Status.StatusName == "Завершен")
                                                {
                                                    <h3 class="display-5 fw-bold text-success">
                                                        Заказ оплачен
                                                    </h3>
                                                }
                                                else
                                                {
                                                    <h3 class="display-5 fw-bold text-danger">
                                                        Заказ не оплачен
                                                    </h3>
                                                }
                                            </div>
                                            <div class="col-4">
                                                <h3 class="fw-bold" style="color: white;">Сумма заказа:</h3>
                                                <h3 class="fw-bold" style="color: white;">@ord.SumOrder</h3>
                                            </div>
                                        </div>

            

                                    @foreach(var car in @ord.WareHouses)
                                    {
                                        <div class="row flex-lg-row align-items-center  py-5 border-bottom" style="background-color: #171717;">
                                            <div class="col-10 col-sm-8 col-lg-6">
                                                <div class="product-Photo">
                                                    <a asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@car.SaleCar.ID"><img src="~/CarImages/@car.SaleCar.MainPhotoCar" /></a>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="row">
                    
                                                    <div class="col p-5">
                                                        <div class="row border-bottom">
                                                            <h2 style="color: white; height:60px;">Марка:</h2>
                                                        </div>
                                                        <div class="row border-bottom">
                                                            <h2 style="color: white;">Наименование:</h2>
                                                        </div>
                                                        <div class="row border-bottom">
                                                            <h2 style="color: white;">Стоимость:</h2>
                                                        </div>
                                                    </div>

                                                    <div class="col p-5">
                                                        <div class="row border-bottom">
                                                            <h2 style="color: white;"><img src="~/MarkImages/@car.SaleCar.Car.Model.MarkCar.MarkPhoto" width="75" height="60"/></h2>
                                                        </div>
                                                        <div class="row border-bottom">
                                                            <a style="text-decoration:none;" asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@car.SaleCar.ID"><h3 style="color: white;" class="product-title">@car.SaleCar.Car.CarName</h3></a>
                                                        </div>
                                                        <div class="row border-bottom">
                                                            <h2 style="color: white;">@car.SaleCar.FullPrice</h2>
                                                        </div>
                                                    </div>

                                                 </div>

                                            </div>

                                        </div>

                                    }
            

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*@foreach(var order in Model)
            {
                   <div class="row" style="background-color: #171717;">
                        <div class="col-md-12 cartOrder" style="background-color: #171717;">
                            <div class="titleOrder">
                                <div class="row">
                                    <div class="col align-self-center text-right text-muted">№ Заказа</div>
                                </div>
                            </div>

                            <div class="row border-top border-bottom">
                                <div class="row main align-items-center">
                                    <div class="col text-center text-white">@order.ID</div>
                                    <div class="col text-center text-white">@order.User.UserName</div>                             
                                    <div class="col text-center text-white">@order.Status.StatusName</div>
                                    <div class="col text-center text-white">@order.DateOfOrder</div>
                                    <div class="col text-center text-white">@order.SumOrder</div>
                                    <div class="col text-center text-white">
                                        <a asp-action="DetailsOrder" asp-controller="Cart" asp-route-id="@order.ID" class="btn btn-primary">Просмотреть</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div> 
            }*@
      </div>
    </section>
</div>

    

            @*@foreach(var order in @Model)
            {
                @foreach(var car in order.WareHouses)
                {
                    
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="~/CarImages/@car.SaleCar.Car.PhotoCar"></div>
                            <div class="col">
                                <div class="row text-muted">@car.SaleCar.Car.CarName</div>
                                <div class="row">@car.SaleCar.Car.Model.ModelName</div>
                            </div>
                            <div class="col">
                                <a>+</a>
                            </div>
                            <div class="col">&euro; @car.SaleCar.FullPrice <span class="close">&#10005;</span></div>
                        </div>
                    </div>
            
                }
            }
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">100 &euro;</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>*@