@model IEnumerable<ModelsApi.OrderApi>
@{
    ViewData["Title"] = "Список заказов";
}

@if (User.IsInRole("Администратор"))
{
    var orders = Model;
}

else if(User.IsInRole("Клиент"))
{

}

<div class="row wow bounceInUp align-items-center justify-content-center">

    <section class="main-content">
        <div class="container-fluid">

            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        <h1 class="text-white">Список ваших заказов</h1>
                    </div>
                </div>
            </div>
            @foreach(var order in Model)
            {
                <div class="row" style="background-color: #171717;">
                    <div class="col-md-12 cartOrder" style="background-color: #171717;">
                        <div class="titleOrder">
                            <div class="row">
                                <div class="col align-self-center text-right text-muted">№ Заказа</div>
                            </div>
                        </div>

                        <div class="row border-top border-bottom" style="height: 50px;">
                            <div class="row main align-items-center">
                                <div class="col text-center text-white">@order.ID</div>
                                
                                <div class="col text-center text-white">@order.Status.StatusName</div>

                                <div class="col text-center text-white">@order.DateOfOrder</div>
                                <div class="col text-center text-white">@order.SumOrder</div>
                                <div class="col text-center text-white">
                                    <a asp-action="DetailsOrder" asp-controller="Cart" asp-route-id="@order.ID" class="btn btn-primary">Просмотреть</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            }
        </div>
    </section>
</div>