@model IEnumerable<ModelsApi.OrderApi>

@*@model IEnumerable<ModelsApi.OrderApi>
@{
    ViewData["Title"] = "Корзина";
}

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">3 items</div>
                </div>
            </div>
            @foreach(var order in @Model)
            {
                @foreach(var car in order.WareHouses)
                {
                    
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="~/CarImages/@car.SaleCar.Car.PhotoCar"></div>
                            <div class="col">
                                <div class="row text-muted">@car.SaleCar.Car.CarName</div>
                                <div class="row">@car.SaleCar.Car.Model.ModelName</div>
                            </div>
                            <div class="col">
                                <a asp-action="DetailsCart" asp-controller="Cart">Посмотреть</a>
                            </div>
                            <div class="col">&euro; @car.SaleCar.FullPrice <span class="close">&#10005;</span></div>
                        </div>
                    </div>
            
                }
            }
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">100 &euro;</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>

*@


@*﻿@model IEnumerable<ModelsApi.OrderApi>*@

@{
    ViewData["Title"] = "Корзина";
}

<div class="row wow bounceInUp align-items-center justify-content-center">

    <section class="main-content">
        <div class="container-fluid">

            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        <h1 class="text-white">Корзина</h1>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        
                        @foreach(var order in @Model)
            {
                            @foreach(var car in order.WareHouses)
                            {
                                <div class="row align-items-center p-4">

                                    <div class="col productCart-Photo d-flex justify-content-center">
                                        <a href="#"><img src="~/CarImages/@car.SaleCar.Car.PhotoCar"></a>
                                        </div>

                                     <div class="col d-flex justify-content-between">

                                        <div class="col m-3">
                                            <h4 class="row ">@car.SaleCar.Car.CarName</h4>
                                            <h5 class="row">@car.SaleCar.Car.Model.ModelName</h5>
                                        </div>

                                        <div class="col m-3">
                                            <h4 class="row">Стоимость комплектации:</h4>
                                            <h4 class="row">&euro; @car.SaleCar.FullPrice</h4>
                                        </div>

                                        <div class="col m-3 d-flex justify-content-center  align-items-center">
                                            <button type="button" class="btn btn-danger">Убрать</button>
                                        </div>
                                
                                    </div>

                                </div>

                            }
                        }

                            @*<div class="row align-items-center p-4">
                                <div >
                                    <h4>О машине:</h4>
                                </div>*@

                            @*<div class="table-responsive align-items-center justify-content-center">
                                <table class="table">
                                    <tbody>
                                        @foreach (var characteristic in @Model.CharacteristicCars)
                                        {
                                            <tr>
                                                <td class="m-lg-5" style="color: white;">
                                                    <b>
                                                        @characteristic.Characteristic.CharacteristicName:
                                                    </b>
                                                </td>
                                                <td class="m-lg-5" style="color: white;">
                                                    @characteristic.CharacteristicValue
                                                </td>
                                                <td class="m-lg-5" style="color: white;">
                                                    @characteristic.Characteristic.Unit.UnitName
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>*@

                            @*</div>*@

                        @*<div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>*@
                    </div>

                    <div class="col-md-4 summary p-4">

                        <div><h3 class="fw-bold"><b>Итого:</b></h3></div>
                        <hr>
                        <div class="row">
                            <div class="col text-right">Сюда цену</div>
                        </div>
                        
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div><h5 class="fw-bold">Окончательная цена</h5></div>
                            <div class="col text-right">Сюда цену</div>
                        </div>

                        <button class="btn btn-success btn-lg">Перейти к оплате</button>
                        <button type="button" class="btn btn-danger">Очистить корзину</button>

                    </div>

                </div>
            </div>


        </div>
    </section>
</div>

    

            @*@foreach(var order in @Model)
            {
                @foreach(var car in order.WareHouses)
                {
                    
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="~/CarImages/@car.SaleCar.Car.PhotoCar"></div>
                            <div class="col">
                                <div class="row text-muted">@car.SaleCar.Car.CarName</div>
                                <div class="row">@car.SaleCar.Car.Model.ModelName</div>
                            </div>
                            <div class="col">
                                <a>+</a>
                            </div>
                            <div class="col">&euro; @car.SaleCar.FullPrice <span class="close">&#10005;</span></div>
                        </div>
                    </div>
            
                }
            }
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">100 &euro;</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>*@