@using ModelsApi
@using MyCar.Web.Core
@using System.Globalization
@model IEnumerable<ModelsApi.OrderApi>
@{
    ViewData["Title"] = "Корзина";
}

@{
    var validateWarehouse = @Model.Where(s => s.Status.StatusName != "Отменен"
            && s.ActionType.ActionTypeName == "Продажа").SelectMany(e => e.WareHouses).ToList();
    var saleCount = validateWarehouse?.GroupBy(car => car.SaleCarId)
    .Select(gr => new
    {
        CarId = gr.Key,
        TotalQuantity = gr.Sum(s => s.CountChange * -1),
        FullPrice = gr.Sum(s => s.SaleCar.FullPrice)
    }).
    OrderByDescending(gr => gr.TotalQuantity);
    var users = new List<UserApi>();
    var statuses = await Api.GetListAsync<List<StatusApi>>("Status");
}

<div class="row w-100 align-items-center justify-content-center">
    <section class="main-content w-100">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        @if (User.IsInRole("Администратор"))
                        {
                            <h1 class="text-white">Список всех заказов пользователей на сайте</h1>
                        }
                        else if (User.IsInRole("Клиент"))
                        {
                            <h1 class="text-white">Список всех заказов @User.Identity.Name</h1>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="header mb-5 mt-5">
                        <a asp-action="Report" class="atuin-btn" asp-route-name="@User.Identity.Name" style="align-content:center; text-align:center;" aria-pressed="true" asp-controller="Cart">
                            Перевести данные в Excel
                        </a>
                    </div>
                    @*<a asp-action="Report" class="btn" asp-controller="Cart" asp-route-name="@User.Identity.Name"></a>*@
                </div>
            </div>
            <div class="row w-100">
                <form method="get" asp-action="SearchOrder" asp-controller="Cart">
                    <div class="row w-100">
                        <div class="col-lg-12">
                            <div class="row w-100" style="display:flex; justify-content:center; align-items:center;">
                                <select name="FilterString" class="form-control search-slt" style="width: 300px;">
                                    @foreach(var status in statuses)
                                    {
                                        <option value="@status.StatusName">@status.StatusName</option>
                                    }
                                    <option hidden>Тип фильтрации</option>
                                </select>
                                <button type="submit" class="btn btn-dark wrn-btn" style="width: 300px;">Искать</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header mb-5 mt-5">
                        @{
                            decimal? orderPrice = 0;
                            foreach (var order in @Model.Where(s => s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName != "Отменен" && s.Status.StatusName != "Ожидает оплаты"))
                            {
                                foreach (var ware in order.WareHouses)
                                {
                                    //var discountOrder = DiscountCounter.GetDiscountByOrder(order, ware.SaleCar);
                                    //if (discountOrder == 0)
                                    //{
                                    //    orderPrice += ware.SaleCar.FullPrice * ware.CountChange * -1;

                                    //}
                                    //else
                                    //{
                                    //    orderPrice += discountOrder * ware.CountChange * -1;
                                    //}
                                    orderPrice += ware.Price * ware.CountChange * -1;
                                }
                            }
                            var countOrd = @Model.Where(s => s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName != "Отменен" && s.Status.StatusName != "Ожидает оплаты").Count();
                            //<h1 class="text-white text-center">Общая сумма всех заказов: @orderPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381</h1>
                            if (User.IsInRole("Администратор"))
                            {
                                <h1 class="text-white text-center">Общая сумма всех заказов: @orderPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381</h1>
                            }
                            if (User.IsInRole("Клиент"))
                            {
                                <h1 class="text-white text-center">Сумма ваших покупок: @orderPrice.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381</h1>
                            }
                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="header mb-5 mt-5">
                        @*<h1 class="text-white text-center">Количество продаж: @validateWarehouse.Count()</h1>*@
                        @*<h1 class="text-white text-center">Количество продаж: @saleCount.Sum(s=> s.TotalQuantity)</h1>*@
                        @{
                            //var wareCountSale = @Model.Where(s => s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName != "Отменен" && s.Status.StatusName != "Ожидает оплаты").Select(s => s.WareHouses).ToList();
                            int? wareCountSale = 0;
                            foreach(var orderSale in @Model.Where(s => s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName != "Отменен" && s.Status.StatusName != "Ожидает оплаты"))
                            {
                                foreach(var wh in orderSale.WareHouses)
                                {
                                    wareCountSale += wh.CountChange * -1;
                                }
                            }
                            if (User.IsInRole("Администратор"))
                            {
                                <h1 class="text-white text-center">Количество проданных авто: @wareCountSale</h1>
                            }
                            if (User.IsInRole("Клиент"))
                            {
                                <h1 class="text-white text-center">Количество купленных авто: @wareCountSale</h1>
                            }
                        }
                    </div>
                    @*<a asp-action="Report" class="btn" asp-controller="Cart" asp-route-name="@User.Identity.Name"></a>*@
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample" style="background-color: #171717;">
                @foreach (var ord in @Model.Where(s => s.ActionType.ActionTypeName == "Продажа" && s.Status.StatusName == "Завершен" || s.Status.StatusName == "Ожидает оплаты"))
                {
                    <div class="accordion-item" style="background-color: #171717; border: 1px solid #ffffff;">
                        <h2 class="accordion-header align-items-center justify-content-center text-center" id="panelsStayOpen-headingTwo" style="background-color: #171717;">
                            <button style="background-color: #171717" class="accordion-button collapsed text-white text-center" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <h4 class="text-white text-center">
                                    Заказ №@ord.ID
                                </h4>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" style="background-color: #171717" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body" style="background-color: #171717">
                                <div class="row w-100" style="background-color: #171717">
                                    <div class="px-4 my-5 text-center" style="background-color: #171717">
                                        <div class="row p-3 border-bottom" style="background-color: #171717">
                                            <div class="col-4">
                                                <h2 class="fw-bold" style="color: white;">Заказ номер №@ord.ID</h2>
                                            </div>
                                            <div class="col-4">
                                                <h3 class="fw-bold" style="color: white;">Статус оплаты:</h3>
                                                @if (@ord.Status.StatusName == "Завершен")
                                                {
                                                    <h3 class="display-5 fw-bold text-success">
                                                        Заказ оплачен
                                                    </h3>
                                                    <div class="glass-btn glass-btn-red">
                                                        <a asp-action="DetailsOrder" asp-controller="Cart" asp-route-id="@ord.ID" style="color: black">Посмотреть заказ</a>
                                                    </div>
                                                }
                                                @if (ord.Status.StatusName == "Ожидает оплаты")
                                                {
                                                    <h3 class="display-5 fw-bold text-danger">
                                                        Ожидает оплаты
                                                    </h3>
                                                    <div class="glass-btn glass-btn-red">
                                                        <a asp-action="Payment" asp-controller="Cart" asp-route-id="@ord.ID" style="color: black">Оплатить</a>
                                                    </div>
                                                }
                                                @if(ord.Status.StatusName == "Новый")
                                                {
                                                    <h3 class="display-5 fw-bold text-danger">
                                                        Заказ не оплачен
                                                    </h3>
                                                    <div class="glass-btn glass-btn-red">
                                                        <a asp-action="DetailsOrder" asp-controller="Cart" asp-route-id="@ord.ID" style="color: black">Посмотреть заказ</a>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-4">
                                                <h3 class="fw-bold" style="color: white;">Сумма заказа:</h3>
                                                @{
                                                    decimal? mySum = new();
                                                }
                                                @foreach (var price in @ord.WareHouses)
                                                {
                                                    decimal? sum = 0;
                                                    sum = price.Price * price.CountChange * -1;
                                                    mySum += sum;
                                                }
                                                <h3 class="fw-bold" style="color: white;">@mySum.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381</h3>
                                            </div>
                                        </div>

                                        @foreach (var car in @ord.WareHouses)
                                        {
                                            <div class="row flex-lg-row align-items-center  py-5 border-bottom" style="background-color: #171717;">
                                                <div class="col-10 col-sm-8 col-lg-6">
                                                    <div class="product-Photo">
                                                        <a asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@car.SaleCar.ID"><img src="@Url.Action("DisplayImage", "Home", new { photoName = @car.SaleCar.MainPhotoCar })" /></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col p-5">
                                                            <div class="row border-bottom">
                                                                <h2 style="color: white; height:60px;">Марка:</h2>
                                                            </div>
                                                            <div class="row border-bottom">
                                                                <h2 style="color: white;">Наименование:</h2>
                                                            </div>
                                                            <div class="row border-bottom">
                                                                <h2 style="color: white;">Количество:</h2>
                                                            </div>
                                                            <div class="row border-bottom">
                                                                <h2 style="color: white;">Стоимость:</h2>
                                                            </div>
                                                        </div>

                                                        <div class="col p-5">
                                                            <div class="row border-bottom">
                                                                <h2 style="color: white;"><img src="@Url.Action("DisplayImage", "Home", new { photoName = @car.SaleCar.Car.Model.MarkCar.MarkPhoto })" width="75" height="60" /></h2>
                                                            </div>
                                                            <div class="row border-bottom">
                                                                <a style="text-decoration:none;" asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@car.SaleCar.ID"><h3 style="color: white;" class="product-title">@car.SaleCar.Car.CarName</h3></a>
                                                            </div>
                                                            <div class="row border-bottom">
                                                                @{
                                                                    var wareCount = @car.CountChange * -1;
                                                                }
                                                                <h2 style="color: white;">@wareCount</h2>
                                                            </div>
                                                            @{
                                                                var newPrice = DiscountCounter.GetDiscountByOrder(@ord, @car.SaleCar);
                                                                if (newPrice == 0)
                                                                {
                                                                    newPrice = null;
                                                                }
                                                                <div class="row border-bottom">
                                                                    <h2 class="text-white">
                                                                        @car.Price.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381
                                                                    </h2>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

@if (TempData["CancelMessage"] != null)
{
    <div class="callout bg-gradient" style="background-color: #171717; border: 5px solid; border-radius:10px; border-image: linear-gradient(45deg, purple, orange) 1;" data-bs-dismiss="alert" role="alert">
        <div class="callout-header">Удаление из корзины</div>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="callout-container">
            <p class="text-white">@TempData["CancelMessage"]</p>
        </div>
    </div>
}