@model ModelsApi.OrderApi

<div class="container-fluid">
    <div class="row w-100">
        <div class="col-10">
            <h2>
                Оформление заказа
            </h2>
        </div>
        <div class="col-2">
            <div class="glass-btn glass-btn-red w-100">
                <a href="#" class="stretched-link" style="color: black;">Оплатить заказ</a>
            </div>
        </div>
    </div>
    <br/>
    <div class="row w-100">
        @foreach(var car in @Model.WareHouses)
        {
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="MySingle-product mt-3 mb-3">
                    <div class="product-Photo">
                        <a asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@car.SaleCar.Car.CarName"><img src="~/CarImages/@car.SaleCar.Car.PhotoCar"/></a>
                    </div>
                    <div class="product-Details">
                        <a style="text-decoration:none;" asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@car.SaleCar.Car.CarName"><h3 class="product-title text-white">@car.SaleCar.Car.CarName</h3></a>

                        <div class="product-addons-Details d-flex justify-content-between">

                            <div class="product-price">
                                <h2 class="text-white">@car.SaleCar.FullPrice</h2>
                            </div>

                            <div class="product-links">
                                <a asp-action="AddOrder" asp-controller="Cart"><i class="fas fa-heart"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
