@using MyCar.Web.Core
@using System.Globalization
@model ModelsApi.WareHouseApi
@{
}
<div class="container-fluid">
    <div class="row w-100">
        <h2 class="text-white text-center">Редактирование заказа</h2>
    </div>
    <div class="row w-100 justify-content-center align-items-center mt-5">
        <div class="card" style="background-color: #171717; min-width: 500px; vertical-align:middle;">
            <div class="row" style="background-color: #171717">
                <div class="col-md-12">
                    <div class="row align-items-center p-4">

                        <div class="col-4 productCart-Photo d-flex justify-content-center">
                            <a asp-action="DetailsCarView" asp-controller="Car" asp-route-id="@Model.SaleCarId"><img src="@Url.Action("DisplayImage", "Home", new { photoName = @Model.SaleCar.MainPhotoCar })"></a>
                        </div>

                        <div class="col-8 d-flex justify-content-between">

                            <div class="col m-3">
                                <h4 class="row text-white">Наименование авто</h4>
                                <h5 class="row text-white">@Model.SaleCar.FullName</h5>
                            </div>

                            <div class="col m-3">
                                <h4 class="row text-white">Стоимость авто:</h4>
                                @{
                                    var price = DiscountCounter.GetDiscount(@Model.SaleCar);
                                    if(price == 0)
                                    {
                                        price = @Model.SaleCar.FullPrice;
                                    }
                                }
                                <h4 class="row text-white">@price.Value.ToString("N",  CultureInfo.InvariantCulture) &#8381</h4>
                            </div>
                            <div class="col m-3 text-white">
                                <h4 class="row text-white">Введите новое количество</h4>
                                <div class="row w-100">
                                    <form class="justify-content-center align-items-center" style="display: flex; justify-content:center; align-items: center;" asp-action="EditCountWareHouse" asp-route-id="@Model.SaleCarId">
                                        <div>
                                            <input type="number" max="@Model.SaleCar.Count" name="CountChangeWare" min="1" step="1" onkeydown="return false" class="form-control" placeholder="Новое кол-во"
                                            style="width: 150px; margin-left: 21%; text-align:center; display:flex; justify-content:center; background-color:transparent; color: white; border-bottom: solid;  border-color:white;
                                            border-left: none; border-right: none; border-top:none;"/>
                                            <div class="form-group" style="margin-bottom:20px; margin-top:10px; display: flex; justify-content:center;">
                                                <input class="atuin-btn" id="success" value="Сохранить" type="submit" role="button"/>  
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="color: white;"/>
                </div>
            </div>
        </div>
    </div>
</div>