@model IEnumerable<ModelsApi.CarApi>

@{
    ViewData["Title"] = "Catalog";
}
<form asp-action="CarView" asp-controller="Home" class="d-flex" style="margin: 0 auto; width:100%; text-align:center; align-content:center; justify-content:center; display:block">
         <div class="input-group" style="width: 500px;">
            <input type="text" name="Name" class="form-control text-center" style="display:block; text-align:center; width: 300px; height: 50px; align-content:center; justify-content:center;"/>
            <button type="submit" class="btn btn-outline-secondary" role="button">Search</button>
         </div>
</form>
<h1 class="wow bounceInUp">Catalog</h1>
<div class="row wow bounceInUp align-items-center justify-content-center">
    @foreach (var item in Model)
    {
        <div class="myHovercard" style=" width: 300px; height: 400px; margin-top: 10px; background-color: #171717">
            <div class="card-body img-responsive" style="background-color: #171717;">
                        <img src="~/CarImages/@item.PhotoCar" style="width:200px; height:200px; position:relative;"/>
                        <br />
                        <h5 style="color: white;">@item.CarName</h5>
                        <button class="imageButton">
                            <h1>
                                <a asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@item.CarName">+</a>
                            </h1>
                        </button>
                    <table>
                        <tbody>
                                @foreach(var characteristic in item.CharacteristicCars.Where(s=> s.Characteristic.CharacteristicName.Contains("Мощность") ||
                                s.Characteristic.CharacteristicName.Contains("Объем") || 
                                s.Characteristic.CharacteristicName.Contains("0-100") || 
                                s.Characteristic.CharacteristicName.Contains("Макс. Скорость") ))
                                {
                                    <tr>
                                    <td class="m-lg-5" style="color: white;">
                                        <b>
                                            @characteristic.Characteristic.CharacteristicName
                                        </b>
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.CharacteristicValue
                                    </td>
                                    <td class="m-lg-5" style="color: white;">
                                        @characteristic.Characteristic.Unit.UnitName
                                    </td>
                                    </tr>
                                }                            

                        </tbody>
                    </table>
                    <div class="container-3">
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ID">Изменить</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.ID">Удалить</a>
                    }
                    <a class="stretched-link" asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@item.CarName">Купить</a>
                    </div>
                    
            </div>
        </div>

@*      <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="~/CarImages/@item.PhotoCar" style="width:300px; height:300px; position:relative;">
         </div>
        <div class="flip-card-back">
        <h4>@item.CarName</h4>
        <p>@item.CarPrice &#8381</p>
        <p>@item.CarOptions</p>
        <div class="container-3">
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ID">Изменить</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.ID">Удалить</a>
                    }
                    <a asp-action="AddBuy" asp-controller="Home" asp-route-id="@item.ID"> Купить</a>
                    <a asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@item.CarName">Подробнее</a>
        </div>            
        </div>
        </div>
        </div>
*@
    }
</div>

      @* <div class="card m-3" style="max-width: 70%; background-color: #171717">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="~/CarImages/@item.PhotoCar" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: white;">@item.CarName</h5>
                    <table>
                        <tbody>
                                @foreach(var characteristic in item.CharacteristicCars)
                                {
                                    <tr>
                                    <td class="m-lg-5">
                                        <b>
                                            @characteristic.Characteristic.CharacteristicName
                                        </b>
                                    </td>
                                    <td>
                                        @characteristic.CharacteristicValue
                                    </td>
                                    <td>@characteristic.Characteristic.Unit.UnitName</td>
                                    </tr>
                                }                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <h5 class="card-title" style="color: white;">@item.CarPrice</h5>
                    <a asp-action="DetailsCarView" asp-controller="Car" asp-route-CarName="@item.CarName">Купить</a>
                </div>
            </div>
        </div>
    </div>*@
