@model IEnumerable<ModelsApi.SaleCarApi>

<div class="container-fluid">
    <div class="row w-100 h-auto" style="position: relative; text-align:center; color: black; font-size: 32px; height: 50px;">
        <img src="https://electrek.co/wp-content/uploads/sites/3/2020/01/bmw-electrified-models.jpg?quality=82&strip=all&w=1600"/>
        <div class="centered">
            <div class="sign-wrap-4">
                <div class="sign_word">Эл<span>ек</span>тро<span>к</span>ар<span>ы</span></div>
            </div>
        </div>
    </div>
    <div class="row w-100" style="height: 50px; text-align:center; margin-top: 30px;">
    </div>
    <div class="row w-100 align-items-center justify-content-center text-center text-white">
        <h3>Какие у нас имеются электрокары?</h3>
    </div>
    <div class="row w-100 align-items-center justify-content-center text-center text-white">
        <div class="col-4">
            <img src="~/image/hybridImage.jpg"/>
            <div class="text-center text-white">
                <p>
                    Частично сочетает в себе самозаряжающуюся электрическую трансмиссию и бензиновый двигатель, 
                    что обеспечивает впечатляющую эффективность и мгновенный крутящий момент без подключения к сети.
                </p>
            </div>
        </div>
        <div class="col-4">
            <img src="~/image/hybridImage.jpg"/>
            <div class="text-center text-white">
                <p>
                    Частично сочетает в себе самозаряжающуюся электрическую трансмиссию и бензиновый двигатель, 
                    что обеспечивает впечатляющую эффективность и мгновенный крутящий момент без подключения к сети.
                </p>
            </div>
        </div>
        <div class="col-4">
            <img src="~/image/hybridImage.jpg"/>
            <div class="text-center text-white">
                <p>
                    Частично сочетает в себе самозаряжающуюся электрическую трансмиссию и бензиновый двигатель, 
                    что обеспечивает впечатляющую эффективность и мгновенный крутящий момент без подключения к сети.
                </p>
            </div>
        </div>
    </div>
    <div class="row w-100 text-center" style="background-color: #171717">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Гибридные автомобили</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Полностью электронные авто</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="background-color: #171717">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="background-color: #171717">
                    <div class="container mt-5" style="background-color: #171717">
                        <div class="row w-100">
                            @foreach(var car in Model.Where(s=> s.Car.BodyType.TypeName.Contains("Гибрид")))
                            {
                                <div class="card col-5 m-5" style="background-color:transparent;">
                                    <img src="~/CarImages/@car.Car.PhotoCar" class="card-img-top" alt="..." style="height: 340px;"/>
                                    <div class="card-title" style="color: white;">
                                        <h3>
                                            @car.Car.CarName
                                        </h3>
                                    </div>
                                    <div class="card-title" style="color: white;">
                                        <h3>
                                            @car.FullPrice
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="glass-btn glass-btn-red" style="justify-content:center;">
                                            <a asp-action="DetailsCarView" asp-controller="Car" asp-route-ID="@car.ID" class="stretched-link" style="color: white;">Посмотерть</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row w-100 h-auto" style="position: relative; text-align:center; color: white; font-size: 32px; height: 50px;">
                            <img src="https://thedriven.io/wp-content/uploads/2018/10/tesla-model-3.jpg"/>
                            <div class="centered" style="top: 20%;">
                                <div class="sign-wrap-4">
                                    <div class="sign_word">Э<span>л</span>е<span>ктро</span><span>кары</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-5" style="background-color: #171717">
                            <div class="row w-100">
                                @foreach(var car in Model.Where(s=> s.Car.BodyType.TypeName.Contains("Электрокар полный")))
                                {
                                    <div class="card col-5 m-5" style="background-color:transparent; align-items:center; justify-content:center; text-align:center;">
                                        <img src="~/CarImages/@car.Car.PhotoCar" class="card-img-top" alt="..." style="height: 340px; width: 500px; justify-content: center;"/>
                                        <div class="card-title" style="color: white;">
                                            <h3>
                                                @car.Car.CarName
                                            </h3>
                                        </div>
                                        <div class="card-title" style="color: white;">
                                            <h3>
                                                @car.FullPrice
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="glass-btn glass-btn-red" style="justify-content:center;">
                                                <a asp-action="DetailsCarView" asp-controller="Car" asp-route-ID="@car.ID" class="stretched-link" style="color: white;">Посмотерть</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        
                        </div>
                    </div>
        </div>
    </div>
</div>
