@using MyCar.Web.Core
@using System.Drawing
@model IEnumerable<ModelsApi.MarkCarApi>
@{
    ViewData["Title"] = "Marks";
}

<div class="row w-100 wow bounceInUp align-items-center justify-content-center">

    <section class="main-content">

        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header mb-5 mt-5">
                    <h1 class="text-white">Представлены марки машин</h1>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach(var i in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="MySingle-product mt-3 mb-3">
                        <div class="product-Photo">
                                <a asp-controller="Home" asp-action="GetAuto" asp-route-id="@i.ID"><img src="@Url.Action("DisplayImage", "Home", new { photoName = @i.MarkPhoto })" /></a>
                        </div>

                            <div class="product-Details">
                                <a style="text-decoration:none;" asp-controller="Home" asp-action="GetAuto" asp-route-id="@i.ID"><h3 class="product-title text-center text-white">@i.MarkName</h3></a>
                                @*<h2 class="product-title text-white">@i.CarName</h2>*@

                                @*<div class="product-addons-Details d-flex justify-content-between">*@

                                    @*<div class="product-price">
                                        <h2 class="text-white">@i.CarPrice</h2>
                                    </div>*@
                                    <div class="button-wrap text-center">
                                        <a class="atuin-btn" asp-controller="Home" asp-action="GetAuto" asp-route-id="@i.ID">Каталог авто</a>
                                    </div>

                                @*</div>*@
                            </div>
                    </div>
                </div>
            }

        </div>

    </section>

</div>