@model IEnumerable<ModelsApi.UserApi>

@{
    ViewData["Title"] = "UserView";
}

<h1>UserView</h1>

<p>
    <a class="atuin-btn" asp-action="Create">Create New</a>
</p>
<table class="resp-tab">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                <a class="alert alert-success" style="width:250px;" asp-action="UserDetails" asp-controller="Account" asp-route-id="@item.ID">Подробнее</a>|
            </td>
        </tr>
}
    </tbody>
</table>  
